<ion-header-bar class="bar-positive">
  <button
    class="button button-icon ion-minus-circled"
    ng-click="data.showDelete = !data.showDelete; data.showReorder = false">
  </button>
  <h1 class="title">Mes cartes de Credits</h1>
  <button
    class="button button-icon ion-navicon"
    ng-click="data.showReorder = !data.showReorder; data.showDelete = false">
  </button>
</ion-header-bar>

<ion-content class="has-subheader">
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
  <div class="bar item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Chercher">
    </label>
  </div>
  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
    <ion-item ng-repeat='item in monPlan.dette.carteCredits | filter: query'
              class="item-thumbnail-left item-icon-right">
      <img ng-src="img/{{item.type}}_logo.jpg" alt="{{item.type}} logo">
      <h2>{{item.type}}</h2>
      <h3>objectif :{{ item.echeanceReel}} ans</h3>
      <h3>Limite :{{ item.limite}}</h3>
      <p>{{item.information | limitTo:50}}
        {{item.information.length >55 ? "&hellip;" : ''}}</p>
      <button class="button button-clear icon ion-star button-assertive"
              ng-click="toggleStar(item)"
              ng-show="item.star">
      </button>
      <ion-option-button class="button-dark"
                         ng-click="toggleStar(item)">
        <i class="icon ion-star"></i>
      </ion-option-button>
      <ion-delete-button
        class="ion-minus-circled"
        ng-click="onCarteItemDelete(item)">
      </ion-delete-button>
      <ion-reorder-button
        class="ion-navicon"
        on-reorder="moveItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>

